body { 
    min-height: 100vh !important;

}

header { 
    background-color: rgb(119, 119, 249);
    display: flex;
    justify-content: space-between;
    

    

}

.logo { 
    font-size: 2em;
    margin-left: 50px;
}
nav { 
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.nav-items { 
    background-color: blueviolet;
    padding: 20px 40px;
    color: white;
    margin: 10px 10px;
    display: flex;
    align-items: center;


}

.container { 
    background-color: rgb(187, 186, 186) ;
    display: flex;
    padding: 30px 30px;
    height: 100%;
    flex-direction: row;

    
}

.side-bar-left {
    background-color: rgb(229, 159, 28);
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 20%;
   
    
}

.items { 
    background-color: rgb(4, 195, 144);
    color: white;
    padding: 20px 40px;
    margin:10px 15px;
    
    text-align: center;

}

.content-right { 
    





}

.elem- {
    background-color: brown;
    color: white;
    width:  200px ;
    height: 200px;
    margin: 10px 10px;

}

footer { 
    
    background-color: rgb(119, 119, 249);
    width: 100%;
    
    height: 10vh;
}

.content-content-right { 
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 25px;
    
}

.menu-burger { 
    display: none;
}

/* RESPONSIVE */

@media (max-width:768px) { 
.container { 
    display: flex;
    flex-direction: column;
}
nav {
    display:flex ;
    flex-direction: column;

    margin-right: 0px;
    
}

.nav-items { 
    justify-content: center;
}
    
header { 
    display: flex;
    flex-direction: column;
}

.side-bar-left { 
    width: 100%;
}
.content-content-right { 
    width: 100%;
    display: flex;
    justify-content: center;    
   
}
.menu-burger { 
    display: block;
}
}
